@font-face{
	font-family: Marseline;
	src:url(../fonts/Marseline.ttf);
}
h1{
	font-family: Marseline;
	color:white;
	font-size: 100px;
}
header{
	background-color:#78DBA4;
	padding: 25px;
	font-size: 25px;
	font-family: Century Gothic;
	text-align: center;

}
#lista1{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;/*pendiente*/
	text-align: center;
	background-color: pink;



}
li a {
float: left;/*pendiente*/
padding-top:30px ;
padding-left:130px;
display: block;
color:white;
text-decoration: none;
text-align: center;
font-size: 30px;
}
li a:hover {
background-color:#FF69B4;
}
h2{
	font-family: "Century Gothic";
	font-family:30px;
	color: #38BCA3;


}
h3{
	font-family: "Century Gothic";
	font-size: 30px;

}
section{
	max-width: 68%;
	font-family: "Arial";
	font-size: 20px;
	color: #6C5B7B;
	text-align: justify;
	padding: 5px;
	padding-left: 40px;

}
article{
	padding-bottom: 20px;
}
.imgarticle{
	float: left;
	margin-right: 20px;
}
li{
	list-style-type: none;
}
footer{
	clear: both;
	background-color: #FFC77F;
	padding: 40px;
	text-align: center;
}
.centericon{
	padding: 50px;
}
figure{
	display: inline-block;
	margin: 20px;
	text-align: center;
}
figure img{
	vertical-align: top;
}
figure figcaption{
	border: 1px dotted blue;
	text-align: center;
}
#gal{
	clear: both;
	text-align: center;
	justify-content: center;
padding: 20px

}
.frase{
	font-size: 90px;
	text-align: center;
	background: color= #FF00FF;
	padding: 50px;
	font-family: Palace Script MT;

}
.informacion{
	text-align: left;
	font-size: 30px;
}	

